/* Custom Stylesheet */
/**
 *
 * Made By Luis Vargas
 * Thanks for MaterializeCSS.com
 */

.default_color{background-color: #231123 !important}

.default_color_text{color: #231123 !important}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.text_nav {
    font-weight: 500;
    line-height: 5rem !important;
    font-size: 2rem !important;
    color: #FFFBED !important;
}

.text_nav2 {
    font-weight: 900;
    line-height: 5rem !important;
    font-size: 2rem !important;
    color: #FFFBED !important;
}

.text_inicio {
    font-weight: 900;
    line-height: 5rem !important;
    font-size: 5rem !important;
    color: #FFBA08 !important;
    text-align: center;
    margin-top: 30%;
}

.text_grande {
    font-weight: 900;
    line-height: 5rem !important;
    font-size: 5rem !important;
    color: #FFBA08 !important;
    text-align: center;
}

.text_p {
    font-weight: 100;
    line-height: 2rem;
    font-size: 1.5rem !important;
    color: #231123 !important;
}

strong{
    font-size: 1rem !important;
}

.text_izq {
    text-align: right !important;
}

.text_pegado{
    margin-top: -5%;
}

nav ul a {
    font-size: 1.2rem;
    color: #FFF;
    letter-spacing: 2px;
    display: block;
    font-weight: 300;
    padding: 0px 15px;
}

.justificar{
    text-align: justify;
}

.arriba{
    margin-top: 20%;
}

@media only screen and (min-width: 990px) {
    .text_h {
        padding: 4% 0;
        font-size: 3rem;
        font-weight: 100;
        color: #FFFBED;
    }

    .text-fun{
        font-weight: 100;
        margin-bottom: 4%;
        line-height: 3rem;
        font-size: 2rem;
        color: #FFFBED !important;
    }

    .text_p {
        font-weight: 100;
        line-height: 3rem;
        font-size: 2rem;
        color: #231123 !important;
    }

    main {
        flex: 1 0 auto;
        padding-left: 400px;
    }

    .button-collapse{
        margin-left: -15%;
    }

    .imagen2{
        display: flex;
        position: relative;
        margin:auto auto auto auto;
        max-width: 30%;
        height: auto;
    }

    strong{
        font-size: 1.5rem !important;
    }
}

nav a.button-collapse {
    left: -25px;
}

.imagen{
    display: flex;
    position: relative;
    margin:auto auto auto auto;
    max-width: 20%;
    height: auto;
}

.imagen2{
     margin-top: 20% !important;
     display: flex;
     position: relative;
     margin:auto auto auto auto;
     max-width: 30%;
     height: auto;
 }

.imagen3{
    margin-top: 20% !important;
    display: flex;
    position: relative;
    margin:auto auto auto auto;
    max-width: 70%;
    height: auto;
    float: right;
}

.imagen4{
    display: flex;
    position: relative;
    margin:auto auto auto auto;
    max-width: 70%;
    height: auto;
}

.boton{
    background-color: #960FB2;
    display: inline-block;
    margin-bottom: 5%;
    float: right !important;
}

.boton:hover, .btn-footer:hover{
    background-color: #960FB2 !important;
}

.boton-social{
    background-color: #960FB2 !important;
}

.page-footer{
    z-index: 999;
    background-color: transparent !important;
}

.btn-footer{
    background-color: #FFBA08 !important;
}

.btn-flat{
    text-transform: lowercase !important;
}

.btn-flat:first-letter {
    text-transform: uppercase !important;
}

.button-collapse{
    display: flex !important;
    margin-right: 10%;
    color: #FFBA08 !important;
}

.interno{
    display: inline-block !important;
    margin-left: 25%;
}

.side-nav{
    background-color: #FFBA08 !important;
}

blockquote{
    border-left: 1px solid #FFBA08 !important;
}

.interno{
    display: flex !important;
    text-align: center !important;
}

.input-text, .materialize-textarea{
    border-bottom: none !important;
}

/* label focus color */
.input-field input:focus + label {
    color: #960FB2 !important;
}
/* label underline focus color */
.row .input-field input:focus {
    border-bottom: 1px solid #960FB2 !important;
    box-shadow: 0 1px 0 0 #960FB2 !important
}

/* label focus color */
.input-field textarea:focus + label {
    color: #960FB2 !important;
}
/* label underline focus color */
.row .input-field textarea:focus {
    border-bottom: 1px solid #960FB2 !important;
    box-shadow: 0 1px 0 0 #960FB2 !important
}

.borde{
    text-decoration: underline;
}