/* Custom Stylesheet */
/**
 *
 * Made By Luis Vargas
 * Thanks for MaterializeCSS.com
 */

.default_color{background-color: #231123 !important}

.default_color_text{color: #231123 !important}


.icon-block {
    padding: 0 15px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.card-reveal, nav {
    background-color: #FFFBED !important;
    box-shadow: none !important;
}


.brand-logo{
    position: absolute;
    color: #FFFBED;
    display: inline-block;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 100;
    padding: 0;
    letter-spacing: 7px;
}

.text_nav {
    font-weight: 500;
    line-height: 5rem !important;
    font-size: 2rem !important;
    color: #FFFBED !important;
}

.text_inicio {
    font-weight: 900;
    line-height: 5rem !important;
    font-size: 5rem !important;
    color: #FFBA08 !important;
    text-align: center;
    margin-top: 40%;
}

.text_p {
    font-weight: 100;
    line-height: 2rem;
    font-size: 1.5rem !important;
    color: #231123 !important;
}

strong{
    font-size: 1rem !important;
}

.text_izq {
    text-align: right !important;
}


.text_b{color: #231123;}

.in{font-weight: 400 !important; font-style: normal !important;}

.promo i {
    color: #231123;
    font-size: 7rem;
    display: block;
}


#work, #team{background-color: #FFFBED;}

.text_pink{color:#EF9A9A;}

nav ul a {
    font-size: 1.2rem;
    color: #FFF;
    letter-spacing: 2px;
    display: block;
    font-weight: 300;
    padding: 0px 15px;
}

.justificar{
    text-align: justify;
}
.arriba{
    margin-top: 20%;
}

.cd-headline.type .cd-words-wrapper {
    vertical-align: top;
    overflow: hidden;
}

.cd-headline.type .cd-words-wrapper::after {
    /* vertical bar */
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 90%;
    width: 1px;
    background-color: #aebcb9;
}

.cd-headline.type .cd-words-wrapper.waiting::after {
    -webkit-animation: cd-pulse 1s infinite;
    -moz-animation: cd-pulse 1s infinite;
    animation: cd-pulse 1s infinite;
}
.cd-headline.type .cd-words-wrapper.selected {
    background-color: #231123;
}

.cd-headline.type .cd-words-wrapper.selected::after {
    visibility: hidden;
}

.cd-headline.type .cd-words-wrapper.selected b {
    color: #FFFBED;
}

.cd-headline.type b {
    visibility: hidden;
}

.cd-headline.type b.is-visible {
    visibility: visible;
}

.cd-headline.type i {
    position: absolute;
    visibility: hidden;
}
.cd-headline.type i.in {
    position: relative;
    visibility: visible;
}

@-webkit-keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}
@-moz-keyframes cd-pulse {
    0% {
        -moz-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -moz-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -moz-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}

@keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        -moz-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
        -o-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        -moz-transform: translateY(-50%) scale(0.9);
        -ms-transform: translateY(-50%) scale(0.9);
        -o-transform: translateY(-50%) scale(0.9);
        transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        -moz-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
        -o-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}


/* Preloader */
#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:1200; /* makes sure it stays on top */
}

@media only screen and (min-width: 990px) {
    .text_h {
        padding: 4% 0;
        font-size: 3rem;
        font-weight: 100;
        color: #FFFBED;
    }

    .text-fun{
        font-weight: 100;
        margin-bottom: 4%;
        line-height: 3rem;
        font-size: 2rem;
        color: #FFFBED !important;
    }

    .text_p {
        font-weight: 100;
        line-height: 3rem;
        font-size: 2rem;
        color: #231123 !important;
    }

    main {
        flex: 1 0 auto;
        padding-left: 400px;
    }

    .button-collapse{
        margin-left: -15%;
    }

    .boton{
        width: 35% !important;
    }

    .imagen2{
        display: flex;
        position: relative;
        margin:auto auto auto auto;
        max-width: 30%;
        height: auto;
    }

    .modal2{
        max-width: 33% !important;
    }
}

input, textarea {
    border-bottom: 1px solid #fff;
}

nav a.button-collapse {
    left: -25px;
}


.card-avatar .waves-effect {
    text-align: center;
    margin-top: 20px;
}

.card-avatar img {
    height: 150px;
    width: 150px;
    border-radius: 75px;
}

.card-avatar .card-content {
    text-align: center;
}

.card .card-content p {
    margin: 15px 0px;
}

.card-avatar .card-content i {
   font-size: 1.5rem;
}

.card-avatar .card-content .card-title {
    line-height: 30px !important;
}

footer.page-footer {
    margin-top: 0px !important;
    background-color: #FFFBED;
}

.imagen{
    display: flex;
    position: relative;
    margin:auto auto auto auto;
    max-width: 20%;
    height: auto;
}

.imagen2{
    margin-top: 20% !important;
    display: flex;
    position: relative;
    margin:auto auto auto auto;
    max-width: 30%;
    height: auto;
}

.boton{
    background-color: #960FB2;
    display: inline-block;
    margin-bottom: 5%;
    width: 70%;
}

.boton:hover, .btn-footer:hover{
    background-color: #960FB2 !important;
}


.vista {
     position: relative;
     z-index: 997;
     top: 0;
     width: 70%;
     height: 60%;
     margin-top: 5%;
     margin-left: 15%;

 }

.page-footer{
    z-index: 999;
    background-color: transparent !important;
}

.mg-rg {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    z-index: 997;
    background-color: transparent !important;
}

.mg-rg2 {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
    z-index: 997;
    background-color: transparent !important;
}

.slider .indicators {
    opacity: 0 !important;
}

.btn-footer{
    background-color: #FFBA08 !important;
}

.btn-flat{
    text-transform: lowercase !important;
}

.btn-flat:first-letter {
    text-transform: uppercase !important;
}

.button-collapse{
    display: flex !important;
    margin-right: 5%;
    color: #FFBA08 !important;
}

.interno{
    display: inline-block !important;
    margin-left: 30%;
}

.side-nav{
    background-color: #FFBA08 !important;
}

blockquote{
    border-left: 1px solid #FFBA08 !important;
}

.interno{
    display: flex !important;
    text-align: center !important;
}

